header h1{
  margin-top: 20px;
  padding: 20px;
 border-bottom: 1px solid rgba(0, 174, 255, 0.562)
}



h1 {
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  font-weight: 400;
  text-align: center;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 35s linear infinite;
}

@keyframes move {
	to {
		background-position: 4500vh;
	}
}


#cudi {
  padding-left:50px;
}

.image {
  width:60px;
  height: auto;
  border-radius: 100px;
  margin: 0 20px 0 0;
} 



.shinji {
  height: 250px;
  width: auto;
}


.videoTemplate iframe{
  float:left;
  border:2px blue solid;
  align-content: space-evenly;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  
  
}

.everything{
  justify-content: space-between, space-around;
  text-align:justify;
}

.tenor-gif-embed{
  float:right;
}

.bckground{
  background-color: #C7D4F7;
}





//DROPDOWN CODE//
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: left;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #e01287;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #12e0cc;}

